# Database Connection URL (Default: SQLite local dev.db)
DATABASE_URL="file:./dev.db"

# Database Ruangan Terpisah (Default: SQLite local rooms.db)
DATABASE_ROOMS_URL="file:./rooms.db"

# Server Port
PORT=5000
